<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
	<insert id="joinAction" parameterType="com.community.member.MemberDto">
		insert
		into member_table
		values(
		member_seq.nextval,
		#{member_name},
		#{member_id},
		#{member_pw}
		)
	</insert>
	<select id="loginAction" parameterType="com.community.member.MemberDto" resultType="com.community.member.MemberDto">
		select *
		from member_table
		where member_id = #{member_id}
	</select>
	<select id="idCheck" parameterType="String" resultType="String">
		select member_idx
		from member_table
		where member_id = #{member_id}
	</select>
</mapper>